@import './base.css';

#app {
  width: 100%;
  font-weight: normal;
  display: flex;
  position: absolute;
  flex-direction: row;
}

@media (max-width: 1000px) {
  #app {
    flex-direction: column;
  }
}

a {
  text-decoration: none;
  transition: 0.4s;
}


